# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables & secrets
server/.env
.env
server/ca.pem
*.pem

# Builds
client/build/
client/dist/

# Uploads
server/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Capacitor native projects
client/android/
client/ios/

# Supabase
supabase/.temp/
